body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
}

button{
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    border: 2px solid black;
  
}

#container div{
    border: 1px solid gray;  
}
