body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background: linear-gradient(135deg, #1f2937, #111827);
    font-family: Arial, sans-serif;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    margin: 20px;
}

#header h1 {
    margin-bottom: 20px;
    font-size: 28px;
    letter-spacing: 2px;
}

button {
    width: 180px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background-color: #4f46e5;
    color: white;
    cursor: pointer;

}



#container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    background-color: #f9fafb;
    border-radius: 12px;
}

